%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

.icon {
    display: inline-block;
    background-size: cover;
}

.dashboard-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Icon-Dashboard.svg");
}

.sales-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Icon-Sales.svg");
}

.catalog-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Icon-Catalog.svg");
}

.customer-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Icon-Customers.svg");
}

.configuration-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Icon-Configure.svg");
}

.settings-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Icon-Settings.svg");
}

.promotion-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/icon-promotion.svg");
}

.cms-icon {
    @extend %menu-properties;
    background-image: url('../images/icon/Icon-CMS.svg');
}

.angle-right-icon {
    background-image: url("../images/icon/Angle-Right.svg");
    width: 17px;
    height: 17px;
}

.angle-left-icon {
    background-image: url("../images/icon/Angle-Left.svg");
    width: 17px;
    height: 17px;
}

.arrow-down-icon {
    background-image: url("../images/icon/Arrow-Down-Light.svg");
    width: 14px;
    height: 8px;
}

.arrow-right-icon {
    background-image: url("../images/icon/Arrow-Right.svg");
    width: 18px;
    height: 18px;
}

.white-cross-sm-icon {
    background-image: url("../images/icon/Icon-Sm-Cross-White.svg");
    width: 18px;
    height: 18px;
}

.accordian-up-icon {
    background-image: url("../images/icon/Accordion-Arrow-Up.svg");
    width: 24px;
    height: 24px;
}

.accordian-down-icon {
    background-image: url("../images/icon/Accordion-Arrow-Down.svg");
    width: 24px;
    height: 24px;
}

.accordian-left-icon {
    background-image: url("../images/icon/chevron-left.svg");
    width: 24px;
    height: 24px;
}

.accordian-right-icon {
    background-image: url("../images/icon/chevron-right.svg");
    width: 24px;
    height: 24px;
}


.notification-icon {
    background-image: url("../images/icon/Icon-bell.svg");
    width: 30px;
    height: 30px;
}

.processing-icon {
    background-image: url("../images/icon/process.png");
    width: 30px;
    height: 30px;
}

.pending-icon {
    background-image: url("../images/icon/notification-checked.svg");
    width: 30px;
    height: 30px;
}

.closed-icon {
    background-image: url("../images/icon/return.png");
    width: 30px;
    height: 30px;
}

.canceled-icon {
    background-image: url("../images/icon/notification-cancel.svg");
    width: 30px;
    height: 30px;
}

.completed-icon {
    background-image: url("../images/icon/notification-complete.svg");
    width: 30px;
    height: 30px;
}

.accounts-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Account-Icon.svg");
}

.arrow-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/arrow-icon.svg");
    height: 13px;
    width: 8px;
    transform: rotate(90deg) !important;
    margin-top: 16px !important;
    margin-right: 18px !important;
}

.rotate-arrow-icon {
    transform: rotate(-90deg) !important;
}

.locale-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/Locale-Icon.svg");
    width: 26px;
    height: 26px;
}

.store-icon {
    @extend %menu-properties;
    background-image: url("../images/icon/store-icon.svg");
    height: 26px;
    width: 26px;
}

.cross-icon {
    background-image: url("../images/icon/Icon-Crossed.svg");
    width: 18px;
    height: 18px;
}

.trash-icon {
    background-image: url("../images/icon/Icon-Trash.svg");
    width: 24px;
    height: 24px;
}

.remove-icon {
    background-image: url("../images/icon/Icon-remove.svg");
    width: 24px;
    height: 24px;
}

.pencil-lg-icon {
    background-image: url("../images/icon/Icon-Pencil-Large.svg");
    width: 24px;
    height: 24px;
}

.eye-icon {
    background-image: url(".../images/iconIcon-eye.svg");
    width: 24px;
    height: 24px;
}

.search-icon {
    background-image: url("../images/icon/icon-search.svg");
    width: 24px;
    height: 24px;
}

.sortable-icon {
    background-image: url("../images/icon/Icon-Sortable.svg");
    width: 24px;
    height: 24px;
}

.sort-down-icon {
    background-image: url("../images/icon/Icon-Sort-Down.svg");
    width: 18px;
    height: 18px;
}

.sort-up-icon {
    background-image: url("../images/icon/Icon-Sort-Down.svg");
    width: 18px;
    height: 18px;
    transform: rotate(180deg);
}

.primary-back-icon {
    background-image: url("../images/icon/Icon-Back-Primary.svg");
    width: 24px;
    height: 24px;
}

.checkbox-dash-icon {
    background-image: url("../images/icon/Checkbox-Dash.svg");
    width: 24px;
    height: 24px;
}

.account-icon {
    background-image: url("../images/icon/icon-account.svg");
    width: 24px;
    height: 24px;
}

.expand-icon {
    background-image: url("../images/icon/Expand-Light.svg");
    width: 18px;
    height: 18px;
}

.expand-on-icon {
    background-image: url("../images/icon/Expand-Light-On.svg");
    width: 18px;
    height: 18px;
}

.dark-left-icon {
    background-image: url("../images/icon/arrow-left-dark.svg");
    width: 18px;
    height: 18px;
}

.light-right-icon {
    background-image: url("../images/icon/arrow-right-light.svg");
    width: 18px;
    height: 18px;
}

.folder-icon {
    background-image: url("../images/icon/Folder-Icon.svg");
    width: 24px;
    height: 24px;
}

.star-icon {
    background-image: url("../images/icon/Star-Icon.svg");
    width: 24px;
    height: 24px;
}

.star-icon-blank {
    background-image: url("../images/icon/Star-Icon-Blank.svg");
    width: 24px;
    height: 24px;
}

.arrow-down-white-icon {
    background-image: url("../images/icon/down-arrow-white.svg");
    width: 17px;
    height: 13px;
}

.arrow-up-white-icon {
    background-image: url("../images/icon/up-arrow-white.svg");
    width: 17px;
    height: 13px;
}

.profile-pic-icon {
    background-image: url("../images/icon/Profile-Pic.svg");
    width: 60px;
    height: 60px;
}

.graph-up-icon {
    background-image: url("../images/icon/Icon-Graph-Green.svg");
    width: 24px;
    height: 24px;
}

.graph-down-icon {
    background-image: url("../images/icon/Icon-Graph-Red.svg");
    width: 24px;
    height: 24px;
}

.no-result-icon {
    background-image: url("../images/icon/limited-icon.svg");
    width: 52px;
    height: 47px;
}

.note-icon {
    background-image: url("../images/icon/icon-note.svg");
    width: 24px;
    height: 24px;
}

.list-icon {
    background-image: url("../images/icon/Icon-Listing.svg");
    width: 24px;
    height: 24px;
}

.copy-icon {
    background-image: url("../images/icon/copy-icon.png");
    width: 24px;
    height: 24px;
}

.active {
    .dashboard-icon {
        background-image: url("../images/icon/Icon-Dashboard-Active.svg");
    }

    .sales-icon {
        background-image: url("../images/icon/Icon-Sales-Active.svg");
    }

    .catalog-icon {
        background-image: url("../images/icon/Icon-Catalog-Active.svg");
    }

    .customer-icon {
        background-image: url("../images/icon/Icon-Customers-Active.svg");
    }

    .settings-icon {
        background-image: url("../images/icon/Icon-Settings-Active.svg");
    }

    .configuration-icon {
        background-image: url("../images/icon/Icon-Configure-Active.svg");
    }

    .promotion-icon {
        background-image: url("../images/icon/icon-promotion-active.svg");
    }

    .cms-icon {
        @extend %menu-properties;
        background-image: url('../images/icon/Icon-CMS-Active.svg');
    }

    >.arrow-down-icon {
        background-image: url("../images/icon/Arrow-Down-Light.svg");
        width: 14px;
        height: 8px;
    }

    >.expand-icon {
        background-image: url("../images/icon/Expand-Light-On.svg");
    }

    &.dashboard-icon {
        background-image: url("../images/icon/Icon-Dashboard-Active.svg");
    }

    &.customer-icon {
        background-image: url("../images/icon/Icon-Customers-Active.svg");
    }

    &.sales-icon {
        background-image: url("../images/icon/Icon-Sales-Active.svg");
    }

    &.settings-icon {
        background-image: url("../images/icon/Icon-Settings-Active.svg");
    }

    &.configuration-icon {
        @extend %menu-properties;
        background-image: url("../images/icon/Icon-Configure-Active.svg");
    }

    &.arrow-down-icon {
        background-image: url("../images/icon/Arrow-Down-Light.svg");
        width: 14px;
        height: 8px;
    }

    &.expand-icon {
        background-image: url("../images/icon/Expand-Light-On.svg");
    }
}

.icon-404 {
    background-image: url("../images/icon/404-image.svg");
    width: 255px;
    height: 255px;
}

.export-icon {
    background-image: url("../images/icon/Icon-Export.svg");
    width: 32px;
    height: 32px;
}

.import-icon {
    background-image: url("../images/icon/Icon-Import.svg");
    width: 32px;
    height: 32px;
}

.star-blue-icon {
    width: 17px;
    height: 17px;
    background-image: url("../images/icon/Icon-star.svg");
}

.camera-icon {
    background-image: url("../images/icon/Camera.svg");
    width: 24px;
    height: 24px;
}

.upload-icon {
    background-image: url("../images/icon/upload-icon.svg");
    width: 24px;
    height: 24px;
}